{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="page-header">
    <h3>Recently Created Groups</h1>
  </div>
  <div class="row">
    <a href="#" class="group-btn btn btn-success">Example</a>
    <a href="#" class="group-btn btn btn-primary">Example</a>
    <a href="#" class="group-btn btn btn-warning">Example</a>
    <a href="#" class="group-btn btn btn-danger">Example</a>
  </div>

</div>

<form action="{{ url_for('login') }}" method=post>
    <dl>
        <dt>Username:
        <dd><input type=text name=username>
        <dt>Password:
        <dd><input type=password name=password>
        <dd><input type=submit value=Login>
    </dl>
</form>

{% endblock %}
