body {
}

.title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-transform: normal;
    letter-spacing: -2px;
}

.login-box {
    width: 400px;
    height: 300px;
    margin: 30px auto;
    padding: 30px;
    background-color: red;
}

.group-btn {
    margin: 0 10px;
    width: 200px;
    height: 150px;
    line-height: 140px;
    font-size: 20px;
    vertical-align: middle;
}

.red {
    color: #e51c23;
}

.green {
    color: #4caf50;
}

.big {
    font-size: 30px;
}

.description {
    font-size: 18px;
    padding: 10px;
}

.navbar {
    border-radius: 0px;
}
/*form {
    margin-top: 50px;
    width: 300px;
}

.search {
    padding: 8px 15px;
    background: rgba(50, 50, 50, 0.2);
    border: 0px solid #dbdbdb;
}

.button {
    position: relative;
    padding: 6px 15px;
    left: -8px;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
}

.button:hover {
    background-color: #fafafa;
    color: #207cca;
}*/
